/* #016A7D */

body {
	background-color: #384762;
	font-family: "Bitter", sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}


.nowrap {
    white-space: nowrap;
}


/*  ----------------------------------------  Desktop  ----------------------------------------  */

/*  ----------------------------------------  Desktop  ----------------------------------------  */
@media (min-width: 650.0001px) {
/*  ----------------------------------------  Desktop  ----------------------------------------  */

/*  ----------------------------------------  Desktop  ----------------------------------------  */


#topbar {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 29px;
	background-color: black;
	border-top: solid white 3px;
	border-bottom: solid white 3px;
	transition-duration: 100ms;
}
.yline {
	box-shadow: 0 0 0 4px #E2B000;
	/*transition-duration: 100ms;*/
}
.rline {
	box-shadow: 0 0 0 4px #FB5C43;
	/*transition-duration: 100ms;*/
}
.gline {
	box-shadow: 0 0 0 4px #75B391;
	/*transition-duration: 100ms;*/
}
.pline {
	box-shadow: 0 0 0 4px #9E8DA7;
	/*transition-duration: 100ms;*/
}


.title {
	float: left;
	height: 27px;
	margin-top: -3px;
	margin-left: 15px;
	margin-right: 15px;
	/*transition-duration: 900ms;*/
}
.title a {
	font-size: 11px;
	color: white;
	transition-duration: 3000ms;
}
.title a:hover {
	transition-duration: 300ms;
}
.activetitle {
	text-shadow:
     -2px -2px 15px #FFF,  
      2px -2px 15px #FFF,
      -2px 2px 15px #FFF,
       2px 2px 15px #FFF;
}

.nav {
	font-size: 20px;
	color: white;
	text-align: center;
	float: left;
	width: 120px; 
	transition-duration: 3000ms;
}
.nav a {
	padding-top: 11px;
	/*padding-bottom: 11px;*/
	display: inline-block;
	text-decoration: none;
	transition-duration: 3000ms;
}

.nav a:hover {
	transition-duration: 300ms;
}

.white {
	color: white;
}
.hovres {
	color: #E2B000;
	text-shadow: 0 -2px 1px #000;
}
.hovart {
	color: #FB5C43;
	text-shadow: 0 -2px 1px #000;
}
.hovdes {
	color: #75B391;
	text-shadow: 0 -2px 1px #000;
}
.hovcon {
	color: #9E8DA7;
	text-shadow: 0 -2px 1px #000;
}

.activeres {
	background-color: #E2B000;padding-bottom: 11px;
	transition-duration: 300ms;
}
.activeart {
	background-color: #FB5C43;padding-bottom: 11px;
	transition-duration: 300ms;
}
.activedes {
	background-color: #75B391;padding-bottom: 11px;
	transition-duration: 300ms;
}
.activecon {
	background-color: #9E8DA7;padding-bottom: 11px;
	transition-duration: 300ms;
}

.navnot {
	background-color: rgba(1, 1, 1, 0);
}






.bg {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	z-index: -1;

}
.bg img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
/*  max-height: 100%;*/
	width: 100%;
}


.content {
	width: 95%;
	margin: -10px auto -35px auto;
	border-left: solid white 1px;
	opacity: 1;
/*	animation-name: fadein;
	animation-delay: 1s;
    animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;*/
}
@keyframes fadein {
	0% {opacity: 1;}
	60% {opacity: .5;}
	70% {opacity: 1;}
	80% {opacity: 1;}
	90% {opacity: .5;}
	100% {opacity: 1;}
}

.headline {
	display: inline-block;
	margin: 100px 0 50px 0;
	border-top: solid white 4px;
	padding-top: 15px;
}
.intro {
	width: 60px;
	padding-left: 5px;
	font-size: .9em;
	position: relative;
	animation-name: drift;
	animation-delay: 1s;
    animation-duration: 200s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes drift {
  0% {left: 0%;}
  100% {left: 80%;}
}

.name {
	font-size: 4em;
	letter-spacing: 3px;
	padding-left: 10px;
/*	text-shadow:
	 0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
*/
	animation-name: flash;
	animation-delay: 1s;
    animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
@keyframes flash {
	0% {text-shadow: 0 0 0px #FFF;}
	50% {text-shadow: 0 0 15px #FFF;}
	100% {text-shadow: 0 0 0px #FFF;}
}


.jeff {
	float: left;
	width: 20%;
	margin-left: 80px;
}
.jeff img {
	width: 100%;
	border-radius: 200px;
}



.about {
	float: left;
	width: 700px;
	max-width: 60%;
	font-size: 1em;
	margin-left: 30px;
	border-left: solid white 4px;
	padding: 10px 5px 10px 5px;
}
.about a {
	color: white;
	text-decoration: none;
}
.about a:hover {
	text-decoration: underline;
}
.about a:focus {
	text-decoration: underline;
	outline: none;
}


.iconlinks {
	clear: both;
	width: 98%;
	margin: 0px auto 0 auto;
	padding-top: 80px;
	padding-bottom: 150px;
	text-align: center;
}
.iconlinks a {
	color: white;
	transition-duration: 200ms;
}
.iconlinks a:hover {
	color: #000;
	text-shadow:
	2px 2px 0 #FFF,
	-2px -2px 0 #FFF,  
	2px -2px 0 #FFF,
	-2px 2px 0 #FFF,
	2px 2px 0 #FFF;
}

.iconlinks a:focus {
	outline: none;
		color: #000;
	text-shadow:
	2px 2px 0 #FFF,
	-2px -2px 0 #FFF,  
	2px -2px 0 #FFF,
	-2px 2px 0 #FFF,
	2px 2px 0 #FFF;
}

.limit {
	display: inline-block;
	padding: 0 100px 0 100px;
}



.barres {
	background-color: black;
	width: 100%;
	border-top: solid white 4px;
	border-bottom: solid #E2B000 4px;
	margin-left: 0;
	text-align: center;
	color: #E2B000;
	padding-top: 100px;
	padding-bottom: 100px;
}

.barart {
	background-color: black;
	width: 100%;
	border-top: solid white 4px;
	border-bottom: solid #FB5C43 4px;
	margin-left: 0;
	margin-top: 150px;
	text-align: center;
	color: #FB5C43;
	padding-top: 100px;
	padding-bottom: 100px;
}

.bardes {
	background-color: black;
	width: 100%;
	border-top: solid white 4px;
	border-bottom: solid #75B391 4px;
	margin-left: 0;
	margin-top: 150px;
	text-align: center;
	color: #75B391;
	padding-top: 100px;
	padding-bottom: 100px;
}

.barcon {
	background-color: black;
	width: 100%;
	border-top: solid white 4px;
	border-bottom: solid #9E8DA7 4px;
	margin-left: 0;
	margin-top: 150px;
	text-align: center;
	color: #9E8DA7;
	padding-top: 100px;
	padding-bottom: 100px;
}

.barfoot {
	height: 200px;
	background-color: black;
	width: 100%;
	border-top: solid white 4px;
	margin-left: 0;
	margin-top: 150px;
}






#resume {
	margin-top: 32px;
}

.resumeC {
	width: 80%;
	margin: 80px auto;
	/*border-left: solid black 1px;*/
	/*border-right: solid black 1px;*/
}

.resumeC h1 {
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 7px;
	color: #E2B000;
	padding: 40px 0 10px 0;
	margin: 0;
}


.resumeC h2 {
	text-align: center;
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: 7px;
	line-height: 0px;
	border-bottom: solid #E2B000 2px;
	margin: 80px 0 15px 0;
}

.summary {
	width: 80%;
	margin: 0 auto;
}

.rchunk {
	width: 85%;
	margin: 0 auto;
	text-shadow: 0 0 15px #000, 0 0 5px #000;
}


.rplace {
	display: inline-block;
	float: left;
}

.rtime {
	display: inline-block;
	float: right;
}

.rdetail {
	clear: both;
}

.project {
	font-size: 1.3em;
	letter-spacing: 2px;
	padding-left: 10px;
	color: white;
	text-shadow: 0 0 0px #E2B000;
}
.project:hover {
	text-shadow: 0 0 15px #E2B000, 0 0 5px #E2B000;
}
.project:focus {
	text-shadow: 0 0 15px #E2B000, 0 0 5px #E2B000;
	outline: none;
}

.pdetail {
	padding-bottom: 20px;
}











#artwork {
	margin-top: 32px;
}

.artworkC { 
	height: 500px;
	width: 80%;
	margin: 80px auto;
	/*border-left: solid black 1px;*/
	/*border-right: solid black 1px;*/
}

.artworkC h1 {
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 7px;
	color: #FB5C43;
	padding: 40px 0 90px 0;
	margin: 0;
}






.sl {
	float: left;
	background-color: rgba(11, 11, 11, .4);
	height: 30vw;
	width: 30vw;
	margin: 40px 0 40px 0;
	display: none;
}
.sr {
	float: right;
	background-color: rgba(81, 81, 81, .4);
	height: 30vw;
	width: 30vw;
	margin: 40px 0 40px 0;
	display: none;
}


.square img {
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}











#design {
	margin-top: 32px;
}

.designC {
	height: 500px;
	margin: 80px auto;
}

.designC h1 {
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 7px;
	color: #75B391;
	padding: 40px 0 90px 0;
	margin: 0;
}



#contact {
	margin-top: 32px;
}

.contactC {
	height: 500px;
	margin: 80px auto;
}

.contactC h1 {
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 7px;
	color: #9E8DA7;
	padding: 40px 0 90px 0;
	margin: 0;
}

.email {
	text-align: center;
	font-size: 3.5vw;
	letter-spacing: 13px;
	background-color: rgba(11,11,11,.5);
	width: 70vw;
	height: 200px;
	margin: 0 auto;
}
.email span {
	font-family: 'Helvetica', sans-serif;
	letter-spacing: 0px;

}
.email div {
		position: relative;
	top: 50%;
	transform: translateY(-50%);
}













}
/*  ----------------------------------------  Mobile  ----------------------------------------  */

/*  ----------------------------------------  Mobile  ----------------------------------------  */
@media (max-width: 650px) {
/*  ----------------------------------------  Mobile  ----------------------------------------  */

/*  ----------------------------------------  Mobile  ----------------------------------------  */
.bg {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	z-index: -1;

}
.bg img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
/*	max-height: 100%;*/
	width: 100%;
}


.content {
	width: 95%;
	margin: -10px auto;
	border-left: solid black 1px;
	opacity: 1;
/*	animation-name: fadein;
	animation-delay: 1s;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;*/
}
@keyframes fadein {
	0% {opacity: 1;}
	60% {opacity: .5;}
	70% {opacity: 1;}
	80% {opacity: 1;}
	90% {opacity: .5;}
	100% {opacity: 1;}
}

.headline {
	display: inline-block;
	margin: 50px 0 10px 0;
	border-top: solid white 4px;
	padding-top: 15px;
}
.intro {
	width: 60px;
	padding-left: 5px;
	font-size: .9em;
	position: relative;
	animation-name: drift;
	animation-delay: 1s;
    animation-duration: 150s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes drift {
	0% {left: 0%;}
	100% {left: 80%;}
}

.name {
	text-align: center;
	font-size: 12vw;
	letter-spacing: 3px;
	padding-left: 10px;
/*	text-shadow:
	 0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
*/
	animation-name: flash;
	animation-delay: 1s;
    animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
@keyframes flash {
	0% {text-shadow: 0 0 0px #FFF;}
	50% {text-shadow: 0 0 15px #FFF;}
	100% {text-shadow: 0 0 0px #FFF;}
}


.jeff {
	width: 80%;
	margin: 0 auto;
}
.jeff img {
	width: 100%;
	border-radius: 200px;
}



.about {
	width: 90%;
	font-size: 1em;
	margin: 0 auto;
	border-left: solid white 4px;
	padding: 10px 5px 10px 5px;
}
.about a {
	color: white;
	text-decoration: none;
}
.about a:hover {
	text-decoration: underline;
}
.about a:focus {
	text-decoration: underline;
	outline: none;
}


.iconlinks {
	width: 98%;
	padding-bottom: 10px;
	margin: 60px auto 0px auto;
	text-align: center;
	padding-bottom: 150px;
}
.iconlinks a {
	font-size: 3vw;
	color: white;
	transition-duration: 200ms;
}
.iconlinks a:hover {
	color: #000;
	text-shadow:
	2px 2px 0 #FFF,
	-2px -2px 0 #FFF,  
	2px -2px 0 #FFF,
	-2px 2px 0 #FFF,
	2px 2px 0 #FFF;
}

.iconlinks a:focus {
	outline: none;
		color: #000;
	text-shadow:
	2px 2px 0 #FFF,
	-2px -2px 0 #FFF,  
	2px -2px 0 #FFF,
	-2px 2px 0 #FFF,
	2px 2px 0 #FFF;
}


.limit {
	display: inline-block;
	padding: 0 80px 0 80px;
}


.barres {
	background-color: black;
	width: 100%;
	border-top: solid white 4px;
	border-bottom: solid #E2B000 4px;
	margin-left: 0;
	text-align: center;
	color: #E2B000;
	padding-top: 100px;
	padding-bottom: 100px;
}

.barart {
	background-color: black;
	width: 100%;
	border-top: solid white 4px;
	border-bottom: solid #FB5C43 4px;
	margin-left: 0;
	text-align: center;
	color: #FB5C43;
	padding-top: 100px;
	padding-bottom: 100px;
}

.bardes {
	background-color: black;
	width: 100%;
	border-top: solid white 4px;
	border-bottom: solid #75B391 4px;
	margin-left: 0;
	text-align: center;
	color: #75B391;
	padding-top: 100px;
	padding-bottom: 100px;
}

.barcon {
	background-color: black;
	width: 100%;
	border-top: solid white 4px;
	border-bottom: solid #9E8DA7 4px;
	margin-left: 0;
	text-align: center;
	color: #9E8DA7;
	padding-top: 100px;
	padding-bottom: 100px;
}

.barfoot {
	height: 100px;
	background-color: black;
	width: 100%;
	border-top: solid white 4px;
	margin-left: 0;
}

.resume {
	width: 100%;
}

.resumeC {
	width: 95%;
	margin: 80px auto;
	/*border-left: solid black 1px;*/
	/*border-right: solid black 1px;*/
}

.resumeC h1 {
	text-align: center;
	font-size: 9vw;
	font-weight: normal;
	letter-spacing: 7px;
	color: #E2B000;
	padding: 40px 0 0px 0;
	margin: 0;
}


.resumeC h2 {
	text-align: center;
	font-size: 6vw;
	font-weight: normal;
	letter-spacing: 5px;
	line-height: 0px;
	border-bottom: solid #E2B000 2px;
	margin: 100px 0 15px 0;
}

.summary {
	width: 100%;
	margin: 0 auto;
}

.rchunk {
	width: 100%;
	margin: 0 auto;
	text-shadow: 0 0 15px #000, 0 0 5px #000;
}


.rplace {
	display: inline-block;
}
.rplace strong {
	display: block;
	font-size: 1.1em;
	padding-bottom: 0px;
	text-shadow: 0 0 1px #FFF;
}
.rplace span {
	display: none;
}

.rtime {
	position: relative;
	left: 15px;
	padding-bottom: 10px;
}

.rdetail {
	padding-bottom: 5px;
	font-size: .9em;
}

.project {
	font-size: 5vw;
	letter-spacing: 2px;
	padding-left: 10px;
	color: white;
	text-shadow: 0 0 1px #E2B000;
	font-weight: bold;
}

.project:focus {
	text-shadow: 0 0 15px #E2B000, 0 0 5px #E2B000;
	outline: none;
}

.pdetail {
	padding-bottom: 20px;
	font-size: .9em;
}






#artwork {
	margin-top: 32px;
}

.artworkC { 
	width: 80%;
	margin: 80px auto;
	/*border-left: solid black 1px;*/
	/*border-right: solid black 1px;*/
}

.artworkC h1 {
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 7px;
	color: #FB5C43;
	padding: 40px 0 90px 0;
	margin: 0;
}






.sl {
	float: left;
	background-color: rgba(11, 11, 11, .4);
	height: 30vw;
	width: 30vw;
	margin: 40px 0 40px 0;
	display: none;
}
.sr {
	float: right;
	background-color: rgba(81, 81, 81, .4);
	height: 30vw;
	width: 30vw;
	margin: 40px 0 40px 0;
	display: none;
}


.square img {
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}











#design {
	margin-top: 32px;
}

.designC {
	width: 80%;
	margin: 80px auto;
}

.designC h1 {
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 7px;
	color: #75B391;
	padding: 40px 0 90px 0;
	margin: 0;
}



#contact {
	margin-top: 32px;
}

.contactC {
	margin: 80px auto;
}

.contactC h1 {
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 7px;
	color: #9E8DA7;
	padding: 40px 0 90px 0;
	margin: 0;
}

.email {
	text-align: center;
	font-size: 6vw;
	letter-spacing: 3px;
	background-color: rgba(11,11,11,.5);
	width: 90%;
	height: 200px;
	margin: 0 auto;
}
.email span {
	font-family: 'Helvetica', sans-serif;
	letter-spacing: 0px;

}
.email div {
		position: relative;
	top: 50%;
	transform: translateY(-50%);
}











#topbar {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	background-color: black;
	/*border-top: solid white 3px;*/
	border-bottom: solid white 3px;
	/*transition-duration: 100ms;*/
}
.yline {
	box-shadow: 0 0 0 4px #E2B000;
	/*transition-duration: 100ms;*/
}
.rline {
	box-shadow: 0 0 0 4px #FB5C43;
	/*transition-duration: 100ms;*/
}
.gline {
	box-shadow: 0 0 0 4px #75B391;
	/*transition-duration: 100ms;*/
}
.pline {
	box-shadow: 0 0 0 4px #9E8DA7;
	/*transition-duration: 100ms;*/
}

#topbar div {display: none;}







}